<div class="well" style="margin-top:5%;">
  <%= form_for(@game) do |f| %>        
    <div class="form-group">
      <%= f.fields_for :player do |ff| %>
        <div>
          <%= ff.label :name, :class=> 'col-lg-2 control-label' %>
          <%= ff.text_field :name, :class=> 'form-control' %>
        </div>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit "Lets Play", :class=> 'btn btn-primary btn-lg btn-block' %>
    </div>
  <% end %>
</div>





