<div class="bs-docs-section">
        <div class="row">
          <div class="ttt-board">
          <p id="notice"><%= notice %></p>
            <div class="jumbotron center">
			<% if @winner == 'human' %>
				<h2 class="center"><%= @game.players[1].name %>, you won!</h2>
			<% elsif @winner == 'computer' %>
				<h2 class="center"><%= @game.players[1].name %>, you lost!</h2>
			<% elsif @winner == 'draw' %>
				<h2 class="center"><%= @game.players[1].name %>, its a Draw!</h2>
			<% else %>
				<h2 class="center"><%= @game.players[1].name %>, its your move...</h2>
			<% end %>
			<%= render 'board' %>
            <div class="bs-example">
              <p>
                <%= link_to 'Back', games_path, :class => "btn btn-primary btn-lg btn-block" %>
              </p>
            </div>
          </div>
        </div>
  </div>
</div>
